@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'montserrat';
  src: local('Montserrat-Black');
  src: url('./fonts/montserrat/Montserrat-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: local('Montserrat-BlackItalic');
  src: url('./fonts/montserrat/Montserrat-BlackItalic.otf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'montserrat';
  src: local('Montserrat-Light');
  src: url('./fonts/montserrat/Montserrat-Light.otf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: local('Montserrat-Medium');
  src: url('./fonts/montserrat/Montserrat-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: local('Montserrat-Regular');
  src: url('./fonts/montserrat/Montserrat-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat';
  src: local('Montserrat-Thin');
  src: url('./fonts/montserrat/Montserrat-Thin.otf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

.font-montserrat {
  font-family: 'montserrat';
}
